

<div class = 'container'>
 
  
  
<div class = 'jumbotron'>
  <h1>Welcome to Rock Paper Scissors</h1>
  <p><center>Best game since roshambo.</center></p>
 </div>

  
   
  <h4>Choose your weapon:</h4>

<div class='row'>
    <div class='col-md-4'>
      <a href='/rock' class='thumbnail'>
        <img src='http://www.clker.com/cliparts/q/4/H/U/C/r/mr-rock-md.png' />
        <div class='caption text-center'>
          <h3>Rock</h3>
        </div>
      </a>
    </div>
    
    <div class='col-md-4'>
      <a href='/paper' class='thumbnail'>
        <img src='http://www.clker.com/cliparts/x/b/z/L/5/p/lined-paper-md.png'/>
        <div class='caption text-center'>
          <h3>Paper</h3>
        </div>
      </a>
    </div>
    
    <div class='col-md-4'>
      <a href='/scissors' class='thumbnail'>
        <img src='http://openclipart.org/people/nicubunu/nicubunu_Scissors.svg'/>
        <div class='caption text-center'>
          <h3>Scissors</h3>
        </div>
      </a>
    </div>
  </div>
  
</div>
  

  